
p {
  margin: 0;
}

a {
  color:#000;
  text-decoration:none;
}

ul{
  margin:0;
}

a:hover   {
  color:blue;
}

a:active  {
  color:blue;
  background-color: #99CCFF;
}


/*--TITLES--*/

.titles {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.titles li {
  display: inline-block;
}

.link-titles {
  float: left;
  margin-bottom: 40px;
}

/*--PEOPLE--*/

.people {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.people li {
  display: inline-block;
}

.link-people {
  float: left;
  margin-bottom: 40px;
}
